# /etc/systemd/system/ap_then_sta.service
[Unit]
Description=Start AP then fallback to STA
After=network.target

[Service]
ExecStart=/usr/local/bin/ap_then_sta.sh
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
