[Unit]
Description=WiFi Setup Web Interface
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/raspberry_pi_network_setup/app.py
WorkingDirectory=/home/pi/raspberry_pi_network_setup/
Restart=always
User=root

[Install]
WantedBy=multi-user.target

